@font-face {
  font-family: 'TTLakes Regular';
  src: url(./fonts/TTLakes-Regular.eot);
  src: url(./fonts/TTLakes-Regular.eot?#iefix) format("embedded-opentype"), url(./fonts/TTLakes-Regular.woff) format("woff"), url(./fonts/TTLakes-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'TTLakes Medium';
  src: url(./fonts/TTLakes-Medium.eot);
  src: url(./fonts/TTLakes-Medium.eot?#iefix) format("embedded-opentype"), url(./fonts/TTLakes-Medium.woff) format("woff"), url(./fonts/TTLakes-Medium.ttf) format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'TTLakes Bold';
  src: url(./fonts/TTLakes-Bold.eot);
  src: url(./fonts/TTLakes-Bold.eot?#iefix) format("embedded-opentype"), url(./fonts/TTLakes-Bold.woff) format("woff"), url(./fonts/TTLakes-Bold.ttf) format("truetype");
  font-weight: normal;
  font-style: normal; }

html {
  box-sizing: border-box; }

body {
  -webkit-tap-highlight-color: transparent;
  margin: 0; }

main {
  background-color: #F8F8F8;
  transition: opacity 0.2s linear; }

*,
*:before,
*:after {
  box-sizing: inherit; }

.container {
  margin: 0 auto; }

.title-reset,
.par-reset {
  margin: 0;
  font-size: inherit;
  font-weight: inherit; }

.list-reset {
  margin: 0;
  padding: 0;
  list-style-type: none; }

.link-reset {
  text-decoration: none;
  color: inherit; }

.address-reset {
  font-style: normal;
  font-weight: normal; }

.logo {
  margin-right: auto; }

.btn {
  display: block;
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  flex-shrink: 0;
  transition: background-color 0.1s ease-in, box-shadow 0.1s ease-in; }
  .btn--circle {
    border-radius: 20px;
    width: 40px;
    height: 40px;
    position: relative; }
    .btn--circle:hover {
      background-color: #9f2348; }
      .btn--circle:hover.btn--arrow {
        background-color: rgba(248, 198, 213, 0.34);
        box-shadow: inset 0 0 3px 1px #FF3E79; }
      .btn--circle:hover.btn--arrow::before {
        width: 10px;
        height: 10px; }
  .btn--arrow {
    border: 2px solid #FF3E79;
    position: relative; }
    .btn--arrow::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      border-right: 2px solid #FF3E79;
      border-top: 2px solid #FF3E79;
      width: 9px;
      height: 9px;
      transform: translate(-65%, -50%) rotate(45deg);
      border-radius: 2px;
      transition: width 0.1s ease-in, height 0.1s ease-in; }
  .btn--text-style {
    color: white;
    font-family: "TTLakes Bold";
    font-size: 12px;
    line-height: 200%;
    letter-spacing: -0.15px;
    text-transform: uppercase; }
  .btn--order {
    padding: 4px 40px 4px 12px;
    background-color: #FF3E79;
    border-radius: 16px;
    position: relative;
    height: -moz-max-content;
    height: max-content;
    align-self: flex-end; }
    .btn--order::after {
      content: '';
      position: absolute;
      top: 50%;
      right: 10px;
      border-right: 3px solid white;
      border-top: 3px solid white;
      width: 8px;
      height: 8px;
      transform: translate(-65%, -50%) rotate(45deg);
      border-radius: 2px; }
    .btn--order:hover {
      background-color: #9f2348; }
  .btn--burger-icon {
    background: #FF3E79 url(./static/burger.svg) no-repeat 50% 50%; }
  .btn--repair-icon {
    background: #FF3E79 url(./static/repair.svg) no-repeat 50% 50%; }
  .btn--status-icon {
    background: #FF3E79 url(./static/status.svg) no-repeat 50% 50%; }
  .btn--phone-icon {
    background: #FF3E79 url(./static/phone.svg) no-repeat 50% 50%; }
  .btn--mess-icon {
    background: #FF3E79 url(./static/mess.svg) no-repeat 50% 50%; }
  .btn--reg-icon {
    background: #FF3E79 url(./static/reg.svg) no-repeat 50% 50%; }
  .btn--close-icon {
    background: #FF3E79 url(./static/close.svg) no-repeat 50% 50%; }
  .btn--search-icon {
    background: #FF3E79 url(./static/search.svg) no-repeat 50% 50%; }

.buttons-contact {
  display: flex;
  width: 152px;
  justify-content: space-between; }

.lang-list {
  display: flex;
  gap: 7px; }
  .lang-list__btn {
    color: #1B1C21;
    font-family: 'TTLakes Medium';
    line-height: 150%;
    letter-spacing: -0.2px;
    text-transform: uppercase; }
    .lang-list__btn--active {
      color: #7E7E82;
      pointer-events: none; }
    .lang-list__btn:hover {
      color: #7E7E82; }

.h2-title {
  color: #1B1C21;
  font-family: "TTLakes Bold";
  font-size: 28px;
  line-height: 142%;
  letter-spacing: -0.6px; }

.h2-title--before {
  position: relative; }
  .h2-title--before::before {
    content: '';
    position: absolute;
    top: 0;
    left: -16px;
    width: 4px;
    height: 40px;
    background-color: #41F6D7;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px; }

.title-block {
  color: #7E7E82;
  font-family: "TTLakes Regular";
  line-height: 150%;
  letter-spacing: -0.2px;
  text-transform: uppercase;
  padding: 16px;
  background: linear-gradient(90deg, #F8F8F8 1.39%, #FFF 100%);
  border-top: 1px solid #D9FFF5; }

.btn--more {
  color: #1B1C21;
  font-family: "TTLakes Medium";
  letter-spacing: -0.2px;
  line-height: 150%;
  display: flex;
  padding: 0 5px;
  margin-top: 24px; }
  .btn--more::before {
    content: '';
    display: block;
    background: url(./static/expand.svg) no-repeat;
    width: 24px;
    height: 24px;
    margin-right: 8px; }
  .btn--more:hover {
    color: #797a7d; }
  .btn--more--active::before {
    transform: rotate(180deg); }

.header[hidden] {
  display: none; }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 19px 16px;
  border-bottom: 1px solid #D9FFF5;
  transition: opacity 0.2s linear; }

.header__item--line {
  position: relative;
  margin-left: 15px;
  padding-left: 20px; }
  .header__item--line::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 2px;
    height: 32px;
    border-radius: 1px;
    background-color: #EAEAEA; }

.header__item--margin-left {
  margin-left: 16px; }

.info {
  padding: 24px 0; }

.info__header {
  padding: 0 16px; }
  .info__header > * {
    margin-bottom: 24px; }

.info__title-row {
  display: flex;
  justify-content: space-between; }

.info__buttons[hidden] {
  display: flex; }

.info__buttons {
  display: flex; }

.info__button-text {
  margin-right: 9px;
  color: #1B1C21;
  font-family: "TTLakes Medium";
  line-height: 24px;
  letter-spacing: -0.2px; }

.info__button {
  display: flex;
  align-items: center;
  cursor: pointer; }

.info__button--margin-left {
  margin-left: 32px; }

.info__slider {
  display: flex;
  width: 100%;
  overflow-x: scroll; }
  .info__slider::-webkit-scrollbar {
    width: 0; }

.info__link {
  display: block;
  padding: 8px 16px;
  margin: 3px 0;
  border-radius: 6px;
  font-family: "TTLakes Regular";
  color: #7E7E82;
  white-space: nowrap;
  margin-right: 12px;
  line-height: 150%;
  letter-spacing: -0.2px;
  border: 2px solid transparent; }
  .info__link:hover {
    color: #303030; }
  .info__link--active {
    background-color: #fff;
    border: 2px solid #B8FFEC; }

.info__text-wrapper {
  padding: 0 16px;
  flex: 0 0 50%; }

.info__text {
  max-height: 160px;
  overflow-y: hidden;
  margin-bottom: 10px; }
  .info__text--visible {
    max-height: none !important;
    overflow-y: visible; }

.info__par {
  color: #1B1C21;
  font-family: "TTLakes Regular";
  font-size: 14px;
  line-height: 128%;
  letter-spacing: 0.2px; }

.info__par:not(:last-child) {
  margin-bottom: 18px; }

.info__img {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: auto; }

.nav__item:not(:last-child) {
  margin-bottom: 20px; }

.nav__item--active {
  position: relative;
  pointer-events: none; }
  .nav__item--active::before {
    content: '';
    position: absolute;
    top: 2px;
    left: -24px;
    width: 4px;
    height: 32px;
    background-color: #41F6D7;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px; }
  .nav__item--active .sidebar__link {
    color: #7E7E82; }

.nav__link {
  display: block;
  color: #1B1C21;
  font-family: 'TTLakes Medium';
  line-height: 150%;
  letter-spacing: -0.2px;
  padding: 4px 0;
  position: relative;
  transition: background-color 0.1s ease-in; }
  .nav__link::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 5px;
    height: 22px;
    width: 22px;
    transform: translateX(-60px) translateY(-50%) rotate(45deg);
    border-top: 2px solid #41F6D7;
    border-right: 2px solid #41F6D7;
    border-radius: 2px 4px 2px 0;
    opacity: 0;
    transition: opacity 0.3s ease-in, transform 0.3s ease-in; }
  .nav__link:hover {
    background-color: #41f6d828;
    border-radius: 6px; }
    .nav__link:hover::after {
      opacity: 1;
      transform: translateX(0) translateY(-50%) rotate(45deg); }

.sidebar {
  width: 320px;
  padding: 18px 24px;
  box-shadow: 16px 0px 52px 0px rgba(14, 24, 80, 0.2), -2px 0px 4px 0px rgba(69, 79, 126, 0.02);
  background-color: white;
  position: fixed;
  transform: translateX(-320px);
  transition: transform 0.2s linear, opacity 0.2s linear;
  height: 100vh;
  z-index: 10;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: scroll; }
  .sidebar::-webkit-scrollbar {
    width: 0; }
  .sidebar--active {
    transform: translateX(0); }

.locked {
  opacity: 0.1;
  pointer-events: none; }

.no-scroll {
  overflow-y: hidden; }

.sidebar__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px; }

.sidebar__logo--margin-left {
  margin-left: 16px; }

.sidebar__nav {
  margin-bottom: auto; }

.sidebar__footer {
  display: flex;
  flex-direction: column;
  margin-top: 32px; }

.sidebar__contacts {
  margin: 16px 0 40px 0; }

.sidebar__mail {
  display: block;
  color: #1B1C21;
  font-family: 'TTLakes Medium';
  line-height: 150%;
  letter-spacing: -0.2px;
  margin-bottom: 12px; }
  .sidebar__mail:hover {
    text-decoration: underline; }
  .sidebar__mail:focus {
    outline: 1px solid #797a7d;
    border-radius: 6px; }

.sidebar__tel {
  display: block;
  color: #1B1C21;
  font-family: 'TTLakes Bold';
  font-size: 24px;
  line-height: 133.33%;
  letter-spacing: -0.6px; }
  .sidebar__tel:focus {
    outline: 1px solid #797a7d;
    border-radius: 6px; }

.brands__container {
  padding: 16px; }

.brands__list {
  display: grid;
  box-sizing: border-box;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  -moz-column-gap: 30px;
       column-gap: 30px;
  row-gap: 16px;
  max-height: 160px;
  overflow-y: hidden; }
  .brands__list--visible {
    max-height: none; }

.brands__item {
  height: 72px;
  border: 1px solid #EAEAEA;
  border-radius: 6px;
  position: relative;
  background-color: white; }

.brands__logo {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%); }

.brands__btn {
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%); }

.devices__container {
  padding: 16px; }

.devices__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  -moz-column-gap: 30px;
       column-gap: 30px;
  row-gap: 16px;
  max-height: 160px;
  overflow-y: hidden;
  box-sizing: border-box; }
  .devices__list--visible {
    max-height: none; }

.devices__item {
  height: 160px;
  padding: 16px;
  border: 1px solid #EAEAEA;
  border-radius: 6px;
  background-color: white;
  position: relative; }

.devices__card-title {
  color: #1B1C21;
  font-family: "TTLakes Medium";
  line-height: 150%;
  letter-spacing: -0.2px; }

.devices__btn {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 16px;
  margin-bottom: 16px; }

.prices__footer {
  padding: 32px; }

.prices__offer-text {
  max-width: 420px;
  color: #1B1C21;
  font-family: "TTLakes Regular";
  font-size: 14px;
  line-height: 142%;
  letter-spacing: 0.2px; }

.prices__offer-btn {
  color: #1B1C21;
  font-family: "TTLakes Medium";
  line-height: 150%;
  letter-spacing: -0.2px;
  transition: color 0.2s ease-in; }
  .prices__offer-btn::after {
    content: '';
    display: inline-block;
    border-right: 3px solid #FF3E79;
    border-top: 3px solid #FF3E79;
    width: 9px;
    height: 9px;
    transform: rotate(45deg);
    border-radius: 2px;
    margin-left: 5px;
    transition: margin-left 0.2s ease-in; }
  .prices__offer-btn:hover {
    color: #797a7d; }
    .prices__offer-btn:hover::after {
      margin-left: 10px; }

.prices__container {
  padding: 8px; }

.prices__list {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border-radius: 6px;
  background-color: white;
  padding: 0 24px; }

.prices__item {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  padding: 16px 0; }
  .prices__item:not(:last-child) {
    border-bottom: 1px solid #EAEAEA; }

.prices__info {
  display: flex;
  align-items: center; }

.prices__title {
  color: #7E7E82;
  font-size: 14px;
  font-family: "TTLakes Medium";
  line-height: 114%;
  opacity: 0.7; }
  .prices__title--inside {
    margin-bottom: 4px;
    display: none; }
  .prices__title--outside {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    padding: 16px 24px; }

.prices__desc {
  color: #1B1C21;
  font-size: 14px;
  font-family: "TTLakes Regular";
  line-height: 128%;
  letter-spacing: 0.2px; }

.prices__row {
  display: flex;
  justify-content: space-between; }

.feedback {
  max-width: 440px;
  padding: 40px 32px;
  box-shadow: 16px 0px 52px 0px rgba(14, 24, 80, 0.2), -2px 0px 4px 0px rgba(69, 79, 126, 0.02);
  background: white;
  position: fixed;
  top: 0;
  right: 0;
  transform: translateX(512px);
  transition: transform 0.2s linear;
  height: 100vh;
  border-left: 1px solid #d9fff5;
  z-index: 11; }
  .feedback--visible {
    transform: translateX(0); }
  .feedback .h2-title {
    margin: 0 0 24px 0; }
  .feedback .h2-title--before::before {
    left: -32px; }

.feedback__close-btn {
  position: absolute;
  left: -72px; }

.feedback__form {
  display: flex;
  flex-direction: column; }

.feedback__input {
  border: 1px solid #EAEAEA;
  border-radius: 8px;
  padding: 12px 16px;
  margin-bottom: 16px;
  resize: none;
  color: #1B1C21;
  font-family: "TTLakes Medium";
  line-height: 150%;
  letter-spacing: -0.2px; }
  .feedback__input::-webkit-scrollbar {
    width: 0; }
  .feedback__input::-moz-placeholder {
    color: #b5b6bc;
    font-family: "TTLakes Medium";
    line-height: 150%;
    letter-spacing: -0.2px; }
  .feedback__input::placeholder {
    color: #b5b6bc;
    font-family: "TTLakes Medium";
    line-height: 150%;
    letter-spacing: -0.2px; }
  .feedback__input:focus {
    outline: 1px solid #FF3E79; }

.feedback__info {
  color: #7E7E82;
  font-family: "TTLakes Medium";
  font-size: 14px;
  line-height: 114%; }

.feedback__link {
  color: #FF3E79; }

.footer {
  background-color: #F8F8F8;
  padding: 32px 32px 24px 32px;
  border-top: 1px solid #D9FFF5;
  display: flex; }

.footer__info {
  color: #7E7E82;
  font-family: "TTLakes Medium";
  line-height: 114%;
  font-size: 14px;
  opacity: 0.7;
  flex: 0 0 33.333%; }
  .footer__info:last-child {
    text-align: right; }
  .footer__info:hover {
    text-decoration: underline; }

@media screen and (min-width: 320px) {
  .container {
    max-width: 767px; } }

@media screen and (max-width: 580px) {
  .brands__list {
    display: flex;
    -moz-column-gap: 0;
         column-gap: 0;
    row-gap: 0;
    overflow-y: visible; }
  .btn-show {
    display: none; }
  .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #B5B6BC; }
  .slider-brands {
    position: relative;
    width: 100%;
    height: 112px; }
    .slider-brands::after {
      content: '';
      position: absolute;
      right: 0;
      top: 0;
      width: 24px;
      height: 72px;
      background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0) 100%);
      z-index: 2; } }

@media screen and (max-width: 580px) {
  .devices__list {
    display: flex;
    -moz-column-gap: 0;
         column-gap: 0;
    row-gap: 0;
    overflow-y: visible; }
  .slider-devices {
    position: relative;
    width: 100%;
    height: 200px; }
    .slider-devices::after {
      content: '';
      position: absolute;
      right: 0;
      top: 0;
      width: 24px;
      height: 160px;
      background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0) 100%);
      z-index: 2; } }

@media screen and (max-width: 580px) {
  .prices__list {
    flex-direction: unset;
    background-color: unset;
    padding: unset; }
  .prices__item {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    border-radius: 6px;
    padding: 16px; }
    .prices__item:not(:last-child) {
      border-bottom: unset; }
  .prices__info {
    display: unset;
    align-items: unset; }
  .prices__title--inside {
    display: block; }
  .prices__title--outside {
    display: none; }
  .slider-prices {
    position: relative;
    width: 100%;
    height: 240px; }
    .slider-prices::after {
      content: '';
      position: absolute;
      right: 0;
      top: 0;
      width: 24px;
      height: 200px;
      background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0) 100%);
      z-index: 2; } }

@media screen and (min-width: 768px) {
  .container {
    max-width: 1119px; } }

@media screen and (min-width: 768px) {
  .info__content {
    display: flex; }
  .info__img {
    margin-right: 16px; }
  .info__text {
    min-width: 312px; }
  .info__par {
    line-height: 142%; }
  .prices__container {
    padding: 16px; } }

@media screen and (max-width: 768px) {
  .header__buttons-contact,
  .header__item--line:first-of-type::before {
    display: none; }
  .header__item--line:first-of-type {
    padding: 0;
    margin-left: 16px; }
  .info__text-wrapper {
    margin-bottom: 10px; }
  .info__text {
    max-height: 90px; }
  .info__img {
    max-width: 480px; }
  .footer {
    flex-direction: column;
    gap: 16px; }
  .footer__info {
    flex: unset;
    text-align: center; }
    .footer__info:last-child {
      text-align: center; } }

@media screen and (min-width: 1120px) {
  .container {
    max-width: 1439px;
    padding-left: 320px; }
  .sidebar {
    display: flex;
    box-shadow: unset; }
  .sidebar__close-btn {
    display: none; }
  .sidebar__logo--margin-left {
    margin-left: 0; }
  .info__slider {
    flex-wrap: wrap; }
  .prices__container {
    padding: 24px; } }

@media screen and (max-width: 1120px) {
  .header[hidden] {
    display: flex; }
  .info__buttons[hidden] {
    display: none; }
  .prices__footer {
    padding: 16px; }
  .footer {
    padding: 16px 16px 12px 16px; } }

@media screen and (max-height: 750px) {
  .sidebar__contacts {
    margin: 16px 0 16px 0; }
  .sidebar__header {
    margin-bottom: 20px; } }

@media screen and (max-width: 930px) {
  .prices__item,
  .prices__title--outside {
    grid-template-columns: repeat(3, 1fr); } }

@media screen and (max-width: 630px) {
  .feedback {
    padding: 24px 16px; }
    .feedback .h2-title {
      margin: 40px 0 24px 0; }
    .feedback .h2-title--before::before {
      left: -16px; }
  .feedback__close-btn {
    position: static; } }


/*# sourceMappingURL=style.css.map*/