//colors
$btn: #FF3E79;
$btnHover: #9f2348;

$textDark: #1B1C21;
$darkHover: #797a7d;

$textLight: #7E7E82;
$lightHover: #303030;

$lightBorder: #EAEAEA;
$mainBg: #F8F8F8;

//fonts
$regular: 'TTLakes Regular';
$medium: 'TTLakes Medium';
$bold: 'TTLakes Bold';

// media 
$mobile: 320px;
$swiperAdd: 580px;
$tablet: 768px;
$desktop-S: 1120px;