.devices__container {
    padding: 16px;
}

.devices__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    column-gap: 30px;
    row-gap: 16px;
    max-height: 160px;
    overflow-y: hidden;
    box-sizing: border-box;

    &--visible {
        max-height: none;
    }
}

.devices__item {
    height: 160px;
    padding: 16px;
    border: 1px solid $lightBorder;
    border-radius: 6px;
    background-color: white;
    position: relative;
}

.devices__card-title {
    color: $textDark;
    font-family: $medium;
    line-height: 150%;
    letter-spacing: -0.2px;
}

.devices__btn {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 16px;
    margin-bottom: 16px;
}