.feedback {
    max-width: 440px;
    padding: 40px 32px;
    box-shadow: 16px 0px 52px 0px rgba(14, 24, 80, 0.2),
        -2px 0px 4px 0px rgba(69, 79, 126, 0.02);
    background: white;
    position: fixed;
	top: 0;
	right: 0;
    transform: translateX(512px);
    transition: transform 0.2s linear;
    height: 100vh;
    border-left: 1px solid #d9fff5;
    z-index: 11;

    &--visible {
        transform: translateX(0);
    }

    .h2-title {
        margin: 0 0 24px 0;
    }

    .h2-title--before {
        &::before {
            left: -32px;
        }
    }
}

.feedback__close-btn {
    position: absolute;
    left: -72px;
}

.feedback__form {
    display: flex;
    flex-direction: column;
}

.feedback__input {
    border: 1px solid $lightBorder;
    border-radius: 8px;
    padding: 12px 16px;
    margin-bottom: 16px;
    resize: none;

    color: $textDark;
    font-family: $medium;
    line-height: 150%;
    letter-spacing: -0.2px;

    &::-webkit-scrollbar {
        width: 0;
    }

    &::placeholder {
        color: #b5b6bc;
        font-family: $medium;
        line-height: 150%;
        letter-spacing: -0.2px;
    }

    &:focus {
        outline: 1px solid $btn;
    }
}

.feedback__info {
    color: $textLight;
    font-family: $medium;
    font-size: 14px;
    line-height: 114%;
}

.feedback__link {
    color: $btn;
}
