.sidebar {
    width: 320px;
    padding: 18px 24px;
    // box-shadow:
    //     16px 0px 52px 0px rgba(14, 24, 80, 0.20),
    //     -2px 0px 4px 0px rgba(69, 79, 126, 0.02);

    position: fixed;
    transform: translateX(-320px);
    height: 100vh;

    display: none;
    flex-direction: column;
    justify-content: space-between;

    overflow-y: scroll;

    &::-webkit-scrollbar {
        width: 0;
    }
}

// header
.sidebar__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.sidebar__logo--margin-left {
    margin-left: 16px;
}

// nav
.sidebar__nav {
    margin-bottom: auto;
}

// footer 
.sidebar__footer {
    display: flex;
    flex-direction: column;
    margin-top: 32px;
}

.sidebar__contacts {
    margin: 16px 0 40px 0;
}

.sidebar__mail {
    display: block;
    color: $textDark;
    font-family: 'TTLakes Medium';
    line-height: 150%;
    letter-spacing: -0.2px;

    margin-bottom: 12px;

    &:hover {
        text-decoration: underline;
    }

    &:focus {
        outline: 1px solid $darkHover;
        border-radius: 6px;
    }
}

.sidebar__tel {
    display: block;
    color: $textDark;
    font-family: 'TTLakes Bold';
    font-size: 24px;
    line-height: 133.33%;
    letter-spacing: -0.6px;

    &:focus {
        outline: 1px solid $darkHover;
        border-radius: 6px;
    }
}